@{
    ViewData["Title"] = "Import Thời khóa biểu";
}

<link rel="stylesheet" type="text/css" href="~/vendors/styles/core.css">
<link rel="stylesheet" type="text/css" href="~/vendors/styles/icon-font.min.css">
<link rel="stylesheet" type="text/css" href="~/src/plugins/dropzone/src/dropzone.css">
<link rel="stylesheet" type="text/css" href="~/vendors/styles/style.css">

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Import Thời khóa biểu</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="../Calendar">Thời khóa biểu toàn khoa</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Import Thời khóa biểu</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right">
                        <div class="dropdown">
                            <a class="btn btn-primary" href="#" role="button">
                                Học kì
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pd-20 card-box mb-30">
                <div class="clearfix mb-20">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Dropzone</h4>
                    </div>
                </div>
                <form class="dropzone" action="#" id="my-awesome-dropzone">
                    <div class="fallback">
                        <input type="file" name="file" />
                    </div>
                </form>
            </div>

        </div>
        @*<div class="footer-wrap pd-20 mb-20 card-box">
                DeskApp - Bootstrap 4 Admin Template By <a href="https://github.com/dropways" target="_blank">Ankit Hingarajiya</a>
            </div>*@
    </div>
</div>

<!-- js -->
<script src="~/vendors/scripts/core.js"></script>
<script src="~/vendors/scripts/script.min.js"></script>
<script src="~/vendors/scripts/process.js"></script>
<script src="~/vendors/scripts/layout-settings.js"></script>
<script src="~/src/plugins/dropzone/src/dropzone.js"></script>
<script>
    Dropzone.autoDiscover = false;
    $(".dropzone").dropzone({
        addRemoveLinks: true,
        removedfile: function (file) {
            var name = file.name;
            var _ref;
            return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
        }
    });</script>