@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-12 text-center">
        <a class="btn btn-primary" asp-controller="Account" asp-action="LoginWithMicrosoft">
            Sign In With Microsoft
        </a>
    </div>
    @*    <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
